*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.all{
    height: 700px;
    width: 100%;

}
.head{
    height:5%;
    width: 100%;
    border-style:solid;
    border-width:6px;
    border-color:pink;
    background:rgba(54, 114, 245, 0.966);
}
.content{
    height:90%;
    width: 100%;
   
}
.left{
    height:100%;
    width: 60%;
    float: left;
    
   
}
.content1{
    height:50%;
    width: 100%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:6px;
    border-right-width:0px;
    border-bottom-width:6px;
    border-color:pink;
    background: rgb(230, 94, 112);
}
.content234{
    height:50%;
    width: 100%;
}
.content23{
    height:100%;
    width: 50%;
    float: left;
}
.content2{
    height:50%;
    width: 100%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:6px;
    border-right-width:0px;
    border-bottom-width:6px;
    border-color:pink;
    background: orange;
    float: left;
}
.content3{
    height:50%;
    width: 100%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:6px;
    border-right-width:0px;
    border-bottom-width:6px;
    border-color:pink;
    background: rgb(229, 255, 0);
    float: left;
    
}
.content4{
    
        height:100%;
        width: 50%;
        border-style:solid;
        border-top-width: 0px;
        border-left-width:6px;
        border-right-width:0x;
        border-bottom-width:6px;
        border-color:pink;
        background: rgb(255, 94, 0);
        float: left;

}
.right{
    height:100%;
    width: 40%;
    float: left;
}
.content56{
    height:15%;
    width: 100%;
}
.content5{
    height:100%;
    width: 80%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:6px;
    border-right-width:0x;
    border-bottom-width:6px;
    border-color:pink;
    background: rgb(4, 243, 4);
    float: left;
}
.content6{
    height:100%;
    width: 20%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:4px;
    border-right-width:6px;
    border-bottom-width:6px;
    border-color:pink;
    background: rgb(95, 231, 106);
    float: left;
}
.content7{
    height:5%;
    width: 100%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:6px;
    border-right-width:6px;
    border-bottom-width:6px;
    border-color:pink;
    background: rgb(137, 224, 97);
   
}
.content8910{
    height:75%;
    width: 100%;
}
.content8{
    height:100%;
    width: 33.3%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:6px;
    border-right-width:0x;
    border-bottom-width:6px;
    border-color:pink;
    background:rgb(66, 209, 178);
    float:left;
}
.content9{
    height:100%;
    width: 33.3%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:6px;
    border-right-width:0x;
    border-bottom-width:6px;
    border-color:pink;
    background:rgb(16, 226, 156);
    float:left;
}
.content10{
    height:100%;
    width: 33.3%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:6px;
    border-right-width:6px;
    border-bottom-width:6px;
    border-color:pink;
    background:rgb(31, 209, 90);
    float:left;
}
.content11{
    height:5%;
    width: 100%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:6px;
    border-right-width:6px;
    border-bottom-width:6px;
    border-color:pink;
    background:yellowgreen;
    
}
.foot{
    height:5%;
    width: 100%;
    border-style:solid;
    border-top-width: 0px;
    border-left-width:6px;
    border-right-width:6px;
    border-bottom-width:6px;
    border-color:pink;
    background:rgba(54, 114, 245, 0.966);
    
}